version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - JWT_SECRET=supersecretkey
    volumes:
      - ./backend/uploads:/app/uploads
    depends_on:
      - mongo
    networks:
      - appnet
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - appnet
  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - appnet
volumes:
  mongo-data:
networks:
  appnet:
    driver: bridge 